body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background: #f46b45; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #f46b45, #eea849);
  background: -o-linear-gradient(right, #f46b45, #eea849);
  background: linear-gradient(to left, #f46b45, #eea849); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  color: #00B7FF;
}
