doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/bower/font-awesome/css/font-awesome.min.css')
    meta(http-equiv='refresh',content='30')
  body.container
    block content
    //- script(src='/javascripts/bootstrap.min.js')